.project-list{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(58,82,6,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(58,82,6,1);
    box-shadow: 10px 10px 5px 0px rgba(58,82,6,1);
}

.project-list-opend{
    border-left: 5px solid blueviolet;
}

.project-list:hover{
    border-left: 5px solid blueviolet;
    cursor: pointer;
    transition-duration: 1ms;
}

.title-and-collapse-option{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.tech-used-in-project{
    margin-top: 20px;
    margin: 5px;
}

.tech-used-in-project p:hover{
    background-color: black;
}

.tech-used-in-project p{
    background-color: darkgoldenrod;
    color: aliceblue;
    border-radius: 90px;
    padding: 8px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.live-demo-button{
    background-color: chocolate;
    border-radius: 90px;
    width: fit-content;
    margin: 5px;
    padding: 10px;
}

.live-demo-button:hover{
    background-color: blueviolet;
    transition-duration: 1ms;
}

.live-demo-button a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.description{
    margin: 5px ;
    font-family: 'Times New Roman', Times, serif;
}