
.workexperience-section{
 margin-top: 70px;
}

.timeline-section {
    margin-top: 20px;
}

.tech-skills p{
    background-color: black;
    border-radius: 90px;
    color: azure;
    padding: 10px;
    text-align: center;
}

.tech-skills p:hover{
    background-color: coral;
    cursor: pointer;
}

.date-class {
    color: black;
}